In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('titanic.csv')
print(data.head())
print(data.info())
print(data.describe())

   survived  pclass                                               name  \
0         0       3                            Braund, Mr. Owen Harris
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1       3                             Heikkinen, Miss. Laina
3         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0       3                           Allen, Mr. William Henry

      sex   age     fare  sibsp  parch
0    male  22.0   7.2500      1      0
1  female  38.0  71.2833      1      0
2  female  26.0   7.9250      0      0
3  female  35.0  53.1000      1      0
4    male  35.0   8.0500      0      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  714 non-null    int64
 1   pclass    714 non-null    int64
 2   name      714 non-null    object
 3   sex       714 non-null    object
 4   age       714 non-null    float64
 5   fare      714 non-null    float64
 6   sibsp     714 non-null    int64
 7   parch     714 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 44.8+ KB
None
         survived      pclass         age        fare       sibsp       parch
count  714.000000  714.000000  714.000000  714.000000  714.000000  714.000000
mean     0.406162    2.236695   29.699118   34.694514    0.512605    0.431373
std      0.491460    0.838250   14.526497   52.918930    0.929783    0.853289
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   20.125000    8.050000    0.000000    0.000000
50%      0.000000    2.000000   28.000000   15.741700    0.000000    0.000000
75%      1.000000    3.000000   38.000000   33.375000    1.000000    1.000000
max      1.000000    3.000000   80.000000  512.329200    5.000000    6.000000

In [4]:
print(data.isnull().sum())
print(data.dtypes)

survived    0
pclass      0
name        0
sex         0
age         0
fare        0
sibsp       0
parch       0
dtype: int64
survived      int64
pclass        int64
name         object
sex          object
age         float64
fare        float64
sibsp         int64
parch         int64
dtype: object

In [4]:
import pandas as pd

data = pd.DataFrame({
    'age': [22, None, 24, None, 28],
    'fare': [7.25, 71.83, None, 8.05, None]
})

data['age'].fillna(data['age'].median(), inplace=True)
data['fare'].fillna(data['fare'].median(), inplace=True)

print(data)

    age   fare
0  22.0   7.25
1  24.0  71.83
2  24.0   8.05
3  24.0   8.05
4  28.0   8.05